<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./static/css/antd.min.css" rel="stylesheet">
    <script crossorigin src="./static/js/react.production.min.js"></script>
    <script crossorigin src="./static/js/react-dom.production.min.js"></script>
    <script src="./static/js/babel.min.js"></script>
    <script src="./static/js/antd.min.js"></script>
</head>
<body>
    <div id="container" style="padding: 24px"></div>
    <script type="text/babel" src="./static/js/ant_example.js"></script>
</body>
</html>