<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CSDBS综合数据分析平台">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <title>CSDBS综合数据分析平台</title>


    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min-cb3ab3438f8.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/css/docs-cb3e6eda032.css" rel="stylesheet">
    <link href="./static/css/routing-tree-editor-cbd4d13cac6.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./static/css/font-awesome.min-cb269550530.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="navbar-jumbotron">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="./static/images/prometheus_logo_grey.svg" alt="Prometheus logo">CSDBS综合数据分析平台</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right main-nav">
                    <li><a href="/docs/introduction/overview/">用户申请</a></li>
                    <li><a href="/download/">关于我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>从数据到算法</h1>
        <p class="subtitle">探索大数据的海洋，创新改变世界的算法</p>
        <p>
            <form class="navbar-form navbar" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="username" name='username' id='username' class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name='password' id='password' class="form-control">
                </div>
                <button type="submit" class="btn btn-success">点击进入</button>
            </form>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 feature-item">
            <a href="/docs/concepts/data_model/">
                <h2>数据</h2>
                <p>从官方的统计数据到无处不在的大数据，我们是数据的搬运工。</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 feature-item">
            <a href="/docs/prometheus/latest/querying/basics/">
                <h2>图表</h2>
                <p>从统计图表到可视化地图，我们为决策者和探索者提供独特的观察视角。</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 feature-item">
            <a href="/docs/visualization/grafana/">
                <h2>模型</h2>
                <p>从统计模型到机器学习模型，我们是研究者的工具箱。</p>
            </a>
        </div>
    </div>

    <hr>

    <footer>
        <p class="pull-left">
            &copy; 华东理工大学 2017
        </p>
    </footer>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="./static/js/bootstrap.min-cb2616d3564.js"></script>
<script src="./static/js/docs-cbb37f22a9d.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./static/js/ie10-viewport-bug-workaround-cbb5a0dd7ce.js"></script>
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58468480-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>

